* {
    margin: 0 !important;
    font-family: 'VT323';
    font-size: 25px;
    font-weight: 300;
}

* > h1 {
    font-size: 50px;
}

a {
    color: black;
    text-decoration: underline;
}

.box {
    border-radius: 2px;
    border: 2px solid black;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);

    transition: all 1.0s ease;
}

.box:hover > p {
    transform: scale(1.005);
    transition: all 1.0s ease;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt-1 {
   margin-top: 10px !important; 
}

.mt-2 {
    margin-top: 20px !important; 
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center-text {
    text-align: center;
}

.navbar {
    background-color: #000000;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.footer {
    background-color: #000000;
    color: #00FF00;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  