* {
  font-family: "Poppins";
}

.bg-blue-light {
  background-color: #3f87f5;
}

.bg-blue-dark {
  background-color: #0652dd;
}

.btn-darkblue {
  background-color: #0652dd;
  color: white;
}

.btn-darkblue:hover {
  color: lightgrey;
}

.bg-blue-lighter {
  background-color: rgba(63, 135, 245, 0.2);
}

.bg-white-real {
  background-color: #ffffff;
}

.btn-yellow {
  background-color: #fbdd29;
}

.border-blue {
  border: 2px solid #3f87f5 !important;
  border-radius: 6px !important;
}

.blue-separator {
  border-left: 3px solid #0652dd !important;
}

.bigger-line-height {
  line-height: 150%;
}

.text-blue-dark {
  color: #0652dd;
}

.bg-purple-dark {
  background-color: #6262ff;
}

.button-one-third {
  width: 33.3% !important;
}

.bg-lightyellow {
  background-color: rgba(251, 221, 41, 0.6);
}

.border-purple-dark {
  border: 2px solid #6262ff;
  border-radius: 6px !important;
}

.no-border-radius {
  border-radius: 0 0 0 0 !important;
}

.text-blue-darker {
  color: #010549;
}

.text-grey-dark {
  color: #575757;
}

.bg-grey-light {
  background-color: #f1f1f1;
}

.letter-spacing-1 {
  letter-spacing: 2px;
}

.btn-selector-inactive {
  transition: all 0.25s ease;
  background-color: rgba(0, 0, 0, 0);
  color: #010549;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-selector-active {
  background-color: #3f87f5 !important;
  color: white !important;
}

.btn-selector-active .btn {
  color: white !important;
}

.table-small-handler {
  display: none;
}

.table-big-handler {
  display: block;
}

@media only screen and (max-width: 576px) {
  .table-small-handler {
    display: block;
  }

  .table-big-handler {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 576px) {
  .h-100-handler {
    height: auto !important;
  }
  .pl-handler {
    padding-left: 0 !important;
  }
  .custom-border-radius-top {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-top-right-radius: 0px !important;
  }
}

@media only screen and (max-width: 991px) {
  .text-width-handler {
    width: 100% !important;
  }
  .second-section-waves {
    display: none !important;
  }
  .w-custom-handler {
    width: 95vw !important;
  }
  .table-mobile-handler {
    font-size: 1% !important;
  }
}

.large-numbering {
  display: inline-block;
  vertical-align: middle;
}

.some-heading {
  display: inline-block;
  vertical-align: text-top;
}

.card {
  overflow: hidden !important;
}

.my-overlay {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.my-modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  top: 50%;
  left: 50%;
  max-width: 95vw;
  transform: translate(-50%, -50%);
}

.modal-open {
  overflow: hidden;
  max-height: 100vh;
}

/* Modal Content/Box */
.my-modal-content {
  background-color: #fefefe;
  z-index: 11 !important;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80vw;
  overflow-y: auto;
  max-height: 95vh;
  /* Could be more or less, depending on screen size */
}

.border-radius-primary {
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.first-section-waves {
  background-image: url("./assets/wave1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.second-section {
  background: linear-gradient(to left, #0652dd, #3f87f5);
  position: relative;
  height: 500px;
}

.second-section-waves {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.second-section-video {
  transform: translate(0%, -50%);
}

.centered-image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.options-handler:hover {
  transition: all 0.5s ease;
  background-color: #0652dd;
}

.options-handler:hover img {
  filter: brightness(-100%) invert(100%);
  transform: scale(1.5);
}

.cursor-pointer-helper {
  cursor: pointer;
}

.options-handler-special:hover {
  transition: all 0.5s ease;
  background-color: #00c595;
}

.text-green-dark {
  color: #006950;
}

.options-handler-special:hover img {
  filter: brightness(-100%) invert(100%);
  transform: scale(1.5);
}

.card-link-helper:hover {
  text-decoration: underline;
}

/* always present */
.collapsed {
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
  transition: visibility 0.5s ease, opacity 0.2s ease, max-height 1s linear;
}

.uncollapsed {
  opacity: 1;
  visibility: visible;
  max-height: fit-content;
  transition: visibility 0.5s ease, opacity 0.2s ease, max-height 1s linear;
}

.disabled-circle {
  background-color: grey !important;
}

.table-fixed-head {
  overflow-y: auto;
  max-height: 800px;
}
.table-fixed-head thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 0 !important;
  border: none !important;
}
.table-fixed-head tbody th {
  position: sticky;
  left: 0;
}
