* {
  font-family: 'Poppins' !important;
}

.bg-primary-blue {
  background-color: #1AB5FF !important;
}

.bg-white {
  background-color: white !important;
}

.bg-secondary-blue {
  background-color: #33BDFF !important
}

.bg-red {
  background-color: #F66957;
}

.bg-yellow {
  background-color: #FBC61E;
}

.bg-cream {
  background-color: #F9F8EF;
}

.color-text-blue {
  color: #007BFF !important;
}

.color-text-darkblue {
  color: #0081BF !important
}

.color-text-darkred {
  color: #9D1200;
}

.color-text-darkyellow {
  color: #A57D00;
}

.btn-yellow {
  background-color: #FBC61E !important
}

.vertical-align {
  display: grid; align-items: center;
}

.w-fit {
  width: fit-content !important;
}

.hr-white {
  background-color: white !important;
}

.negative-margin-1 {
  margin-top: -60% !important;
  float: right;
}

.text-black {
  color: black;
}

.border-blue {
  border-color: #33BDFF !important;
  border: 3px solid;
}

.border-red {
  border-color: #F66957 !important;
  border: 3px solid;
}

.border-yellow {
  border-color: #FBC61E !important;
  border: 3px solid;
}



@media(orientation: landscape) {
  .custom-padding-1 {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }
  .custom-card-size {
    min-height: 38vh;
  }
  .custom-font-size-title-desktop {
    font-size: 4.5rem;
  }
  .custom-font-size-subtitle-desktop {
    font-size: 2rem !important;
  }
  .form-image-desktop {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media(orientation: portrait) {
  .mobile-image-separator {
    min-height: 15vh;
  }
}