<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="app" v-bind:class="{ 'modal-open': modalStatus }">
        <div class="mt-5 mx-auto">
            <h1 class="text-center mb-5">NAVBAR</h1>
            <!--Seção 1-->
            <section class="first-section-waves">
                <div class="container-fluid mx-auto">
                    <p class="h1 text-blue-darker font-weight-bold text-center">
                        Não perca mais tempo com cálculos previdenciários
                    </p>
                    <p class="h5 text-grey-dark text-center mx-auto w-50 mt-4 text-width-handler">
                        Invista em praticidade para os seus cálculos sem riscos: aproveite a
                        <span class="text-blue-dark">garantia de 15 dias</span>
                        ou o seu dinheiro de volta!
                    </p>
                </div>
                <div class="container row mt-5 align-items-center mx-auto">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 col-md-12 p-0">
                        <div class="bg-grey-light rounded-pill p-1 mx-auto" style="width: fit-content !important">
                            <button class="btn btn-selector-inactive rounded-pill p-3 px-3  font-weight-bolder"
                                v-bind:class="{ 'btn-selector-active': currentPriceTable == 0 }"
                                v-on:click="currentPriceTable = 0">Mensal</button>
                            <button class="btn btn-selector-inactive rounded-pill p-3 px-3  font-weight-bolder"
                                v-bind:class="{ 'btn-selector-active': currentPriceTable == 1 }"
                                v-on:click="currentPriceTable = 1">Anual</button>
                            <button class="btn btn-selector-inactive rounded-pill p-3 px-3  font-weight-bolder"
                                v-bind:class="{ 'btn-selector-active': currentPriceTable == 2 }"
                                v-on:click="currentPriceTable = 2">Bianual</button>
                        </div>
                    </div>
                    <div class="col-lg-2 d-none d-sm-none d-xs-none d-lg-block">
                        <img src="assets/stamp.gif">
                    </div>
                </div>
                <div class="container row mt-5 mx-auto">
                    <div class="col-lg-3 mb-3">
                        <card-planos icon="assets/stacked1.svg" recommended="false" title="Essencial"
                            :price=prices[currentPriceTable][0] calculations_number="10" users="3"
                            v-on:open_faq="openFaq()"></card-planos>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <card-planos icon="assets/stacked2.svg" recommended="true" title="Profissional"
                            :price=prices[currentPriceTable][1] calculations_number="25" users="5"
                            v-on:open_faq="openFaq()"></card-planos>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <card-planos icon="assets/stacked3.svg" recommended="false" title="Especialista"
                            :price=prices[currentPriceTable][2] calculations_number="50" users="10"
                            v-on:open_faq="openFaq()"></card-planos>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <card-maisinfo title="Precisa de um plano maior?"
                            description="O CJ tem um plano do tamanho da sua necessidade"></card-maisinfo>
                    </div>
                </div>
                <div v-on:click="modalStatus = !modalStatus" class="mt-3">
                    <p class="text-center h5 text-blue-darker" style="cursor: pointer">
                        <u>Conheça todas as funcionalidades do CJ →</u>
                    </p>
                </div>
            </section>
            <section class="second-section mt-5 p-5 text-white text-center">
                <p class="h1 mt-5">
                    Você está em boa companhia
                </p>
                <p class="h5 font-weight-normal">
                    Descubra como o CJ resolveu de vez o problema de cálculos para milhares de advogados.
                </p>
                <div class="second-section-waves">
                    <img src="/assets/abstract.svg" style="opacity: 0.3">
                </div>

            </section>
            <div class="second-section-video text-center">
                <div class="embed-responsive embed-responsive-16by9 w-50 w-50-handler mx-auto">
                    <iframe src="https://www.youtube.com/embed/NgLWF2XJyKA" class="embed-responsive-item"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <section class="third-section bg-grey-light p-5">
                <p class="h1 text-blue-darker text-center font-weight-bold mb-5">Perguntas Frequentes</p>

                <div v-for="(q, index) in FAQInst" class="mt-4">
                    <div class="container" v-if="index < FAQLimit">
                        <hr class="bg-grey-light mb-5">
                        <div class="row bg-grey-light mx-auto text-blue-darker">
                            <span class="h3" v-on:click="FAQInst[index].status = !FAQInst[index].status"
                                style="cursor: pointer; user-select: none;" :id="'faq-' + index">
                                <p>
                                    <i class="fas fa-plus text-blue-dark" v-if="!FAQInst[index].status"></i>
                                    <i class="fas fa-minus text-blue-dark" v-if="FAQInst[index].status"></i>
                                    {{FAQInst[index].question}}
                                </p>
                            </span>

                            <div class="h5 mt-1 text-dark collapsed" v-bind:class="{'uncollapsed': q.status}">
                                <span v-for="paragraph of FAQInst[index].answer.split('\n')">
                                    {{paragraph}}
                                    <br>
                                </span>
                                <div class="embed-responsive embed-responsive-16by9 mx-auto mt-5"
                                    v-if="FAQInst[index].video && FAQInst[index].status">
                                    <iframe :src=FAQInst[index].video class="embed-responsive-item"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="container text-center">
                                    <a :href=FAQInst[index].button.link
                                        v-if="FAQInst[index].status && FAQInst[index].button" class="btn bg-blue-dark text-white mt-2 font-weight-bold px-4 py-3
                                mx-auto text-center">
                                        {{FAQInst[index].button.text}}
                                    </a>
                                </div>
                            </div>



                        </div>
                        <hr class="bg-grey-light" v-if="index == FAQInst.length - 1">
                    </div>

                </div>

                <div v-on:click="FAQLimit = FAQLimit == 6 ? FAQInst.length : 6" class="mt-3">
                    <p class="text-center h5 text-blue-darker" style="cursor: pointer">
                        <u>{{FAQLimit <= 6 ? 'Carregar mais perguntas frequentes ↓'
                                : 'Carregar menos perguntas frequentes ↑' }}</u>
                    </p>
                </div>
            </section>
            <modal v-if="modalStatus" v-on:closed="modalStatus = false"></modal>
        </div>

        <div class="last-section">
            <div class="container row mt-5 align-items-top mx-auto">
                <div class="col-lg-6">
                    <p class="h1 mb-5 text-center text-lg-left text-xg-left">
                        <span class="text-blue-darker">Uma assinatura,</span>
                        <br>
                        <span class="text-blue-dark">muitas possibilidades!</span>
                    </p>
                    <img src="assets/animated-gif.gif" class="img img-fluid mx-auto  d-none d-lg-block d-xg-block"
                        width="250">
                </div>
                <div class="col-lg-6">
                    <div class="blue-separator px-5">
                        <p class="h4 text-blue-darker font-weight-bold"><img src="assets/calendar.svg" class="mr-3">
                            Planejamento Previdenciário</p>
                        <p class="h6 mt-3">“O Cálculo mais falado do Ano” do previdenciário! Simule diversos cenários e
                            apresente aos seus clientes um relatório fácil de entender. Receba no ato, sem esperar
                            resultado de processo!</p>
                    </div>
                    <div class="blue-separator px-5 mt-5">
                        <p class="h4 text-blue-darker font-weight-bold"><img src="assets/timelapse.svg" class="mr-3">
                            Revisão da Vida Toda</p>
                        <p class="h6 mt-3">Calcule a Revisão da Vida Toda de forma fácil e precisa. Faça também cálculos
                            de outras revisões de direito desde 1978, como: ORTN, Buraco Negro, Buraco Verde, IRSM,
                            Teto, Art. 29 e Períodos Concomitantes.</p>
                    </div>
                    <div class="blue-separator px-5 mt-5">
                        <p class="h4 text-blue-darker font-weight-bold"><img src="assets/smartphone.svg" class="mr-3">
                            Leve o CJ com você</p>
                        <p class="h6 mt-3">Use o CJ em qualquer lugar! O programa funciona em computadores e
                            smpartphones e dispensa instalações.</p>
                    </div>
                </div>
            </div>
            <div class="container row mt-5 mx-auto">
                <div v-for="opt in OptCards" class="col-xg-4 col-lg-4 col-md-6 mb-3" v-bind:class="{ 'cursor-pointer-helper': opt.link }" v-on:click="() => { if(opt.link) { window.open(opt.link, '_blank') } }">
                    <div class="card mb-3 h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-4 border-right"
                                v-bind:class="{ 'options-handler': !opt.specialColor, 'options-handler-special': opt.specialColor}">
                                <img :src=opt.icon class="img centered-image">
                            </div>
                            <div class="col-8 ">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold"
                                        v-bind:class="{ 'text-blue-darker': !opt.specialColor, 'text-green-dark': opt.specialColor }">
                                        {{opt.title}}</h5>
                                        <p class="card-text">{{opt.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="text-center mt-5">FOOTER</h1>
        </div>

    </div>

    <script src="utils/FAQ.js"></script>
    <script src="utils/OptCards.js"></script>
    <script src="components/CardPlanos.js"></script>
    <script src="components/CardMaisInfo.js"></script>
    <script src="components/Modal.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                modalStatus: false,
                currentPriceTable: 0,
                FAQInst: FAQ,
                FAQLimit: 6,
                prices: [
                    ["99", "139", "199"],
                    ["990", "1390", "1990"],
                    ["1980", "2780", "3980"]
                ]
            },
            methods: {
                openFaq() {
                    this.FAQInst[0].status = true;
                    $("html, body").animate({
                        scrollTop: $("#faq-0").offset().top - 50
                    }, 1000);
                }
            }
        })
    </script>
</body>

</html>
